[submodule "openzeppelin-contracts-upgradeable"]
	path = openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "ccip"]
	path = ccip
	url = https://github.com/smartcontractkit/ccip
