[submodule "contracts/openzeppelin-contracts"]
	path = contracts/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/openzeppelin-contracts-upgradeable"]
	path = contracts/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
