node_modules
build
/coverage
./coverage.json
bin/*
#exception
#!doc/general/test/coverage
/.openzeppelin
.vscode/
#PlantUML
out
docOut
#drawio
*.bkp
*.dtmp
artifacts
cache
#manticore
mcore_*
#secrets
.env
