node_modules
build
/coverage
./coverage.json
coverage.json
bin/*
#exception
#!doc/general/test/coverage
/.openzeppelin
.vscode/
#PlantUML
out
docOut
#drawio
*.bkp
*.dtmp
artifacts
cache
#manticore
mcore_*
#secrets
.env

#ackee wake
.wake
#Claude
PLAN.md
INSTRUCTION.md
